 <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Писательская платформа</a>
            <a class="navbar-brand" asp-area="" asp-controller="Composition" asp-action="List">Произведения</a>
            <a class="navbar-brand" asp-area="" asp-controller="Genre" asp-action="List">Жанры</a>
            @if (User.IsInRole("admin"))
            {
                <a class="navbar-brand" asp-area="" asp-controller="Roles" asp-action="List">Роли</a>
            }
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"></a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
