body
{
    background-color:ghostwhite;
}

section{
    margin:30px;
}

.card img{
    height:300px;
}

.card {
    background-color:white;
    margin-bottom: 20px;
}

.card-text {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:center;
}

footer{
    padding: 15px 0;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer p{
    margin-bottom: 0;
}