@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3 class="display-3">Добро пожаловать на писательскую платформу</h3>
    <p>
        Здесь начинаются ваши литературные приключения! Мы — сообщество писателей, читателей и любителей слова, которые объединены общей страстью к творчеству и самовыражению. Наша платформа создана для того, чтобы помочь вам делиться своими историями, находить вдохновение и общаться с единомышленниками.

        Что мы предлагаем:

        - Публикация ваших произведений. Загружайте свои рассказы, романы, поэзии и статьи с возможностью получения отзывов от читателей.
        - Общение и поддержка. Присоединяйтесь к нашим форумам и группам, где вы можете найти советы, идеи и поддержку от других писателей.
        - Участие в конкурсах и вызовах. Участвуйте в регулярных конкурсах на лучшее произведение, получайте призы и узнавайте новое о своей манере письма.
        - Обширная библиотека произведений. Исследуйте творчество других авторов, находите вдохновение и получайте удовольствие от чтения.

        Мы верим, что каждый имеет право на голос и историю, которую стоит рассказать. Независимо от того, являетесь ли вы начинающим автором или опытным писателем, на нашей платформе вы найдете поддержку и путь к своему литературному успеху.

        Присоединяйтесь к нашему сообществу, начинайте создавать и делитесь вашим уникальным видением с миром!
    </p>
    <div>
        <a class="w-25 btn btn-lg btn-primary" asp-controller="Composition" asp-action="List">Читать</a>
    </div>
</div>